:ROOT{
  /*Vi danner variabler ved å ta -- før variabelnavnet.*/
  --basic-gray: #efefefef;
  --basic-red: #6a0404;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /*Vi fjerner margen, slik at det går helt ut i kanten.*/
}

/* =============== GLOBAL HEADER =============== */
/*Vi har laget en id til hoved headeren*/
#global-header{
  display: flex; /*Hva gjør denne?*/
  justify-content: space-between; /*All luften som er tilgjengelig blir brukt på å ha avstand mellom logo og lista*/
  align-items: center; /*Lista blir sentrert i forhold til logoen?*/
  /*Jeg vil endre på li som er inni ul, som er inni nav, som er inni global-header:*/
  nav{
    ul{
      
      padding: 0; /*For å få den tettere mot margen*/
      margin: 0; /*For å få den tettere mot margen*/
      
      li{
        list-style: none; /*none: Nå forsvinner kulepunktene på lista*/
        display: inline-block;
      }
    }
  }
}

#mainlogo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #f00;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.deal-section{
  background-color:var(--basic-gray); /*Vi bruker variabelen som vi har laget for å velge farge*/
  padding: 1 rem; 
}

article{
  margin: 1rem 0;
  border:1px solid #5a5050; /*Sette en firkant rundt artiklene*/
  max-width: 400px;
  width: 100%;
  min-width: 250px;
  padding: 1rem; /*padding er innvendig luft. Margin er utvendig??*/

  img{
    width: 100%;
  }
}

/*Jeg vil at bildet skal fylle hele innholdet på nettsiden. Vi skriver det som nesta CSS.
Jeg vil endre på bilet som ligger inni article
*/

.btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border: none;
}

