/*uke 37 fredag*/

:ROOT{
  /*Vi danner variabler ved å ta -- før variabelnavnet.*/
  --basic-gray: #efefefef;
  --basic-red: #6a0404;
}


*{
  box-sizing: border-box; /*Gjør det innover i stedet for utover*/
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /*Vi fjerner margen, slik at det går helt ut i kanten.*/
}

#page-container{
  display:grid;
}

/* =============== GLOBAL HEADER =============== */
/*Vi har laget en id til hoved headeren*/
#global-header{
  display: flex; /*Flexbox (jeg tror dette er en del av flexbox) er et kraftig verktøy for å designe responsive og fleksible layouter som tilpasser seg innholdets størrelse og tilgjengelig plass. */
  justify-content: space-between; /*All luften som er tilgjengelig blir brukt på å ha avstand mellom logo og lista. Plasserer logo til venstre og navigasjon til høyre*/
  align-items: center; /*Vertikal sentrering av innholdet*/
  padding: 1rem;

  /*Jeg vil endre på li som er inni ul, som er inni nav, som er inni global-header:*/
  nav{
    ul{
      padding: 0; /*For å få den tettere mot margen*/
      margin: 0; /*For å få den tettere mot margen*/
      
      li{
        list-style: none; /*none: Nå forsvinner kulepunktene på lista*/
        display: inline-block; /*Viser menyvalg horisontalt i stedet for vertikalt*/
      }
    }
  }
}

#mainlogo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #f00;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.deal-section{
  background-image: url("https://picsum.photos/1200/500?grayscale");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color:var(--basic-gray); /*Vi bruker variabelen som vi har laget for å velge farge. Vi skriver "var" først*/
  padding: 1rem; 
  position:relative;
  height: 50vh; /*vh hjelper når man har små vinduer*/
  min-height: 200px;


  /*Endrer på bildet inni deal section*/
  /*img{
    width: 100%;
  }

  h2, p, a{
    position: absolute; /*skjedd noe feil her*/
  /*}

  p{
    top: 63px;
  }

  a{
    top: 70px;
  }*/


}

/* ========== HOVEDINNHOLD ========== */

main{
  max-width: 1200px;
  width: 100%;
  margin: 1rem auto; /*Hva betyr auto?*/

  section{
    h2{
      text-align: center;
    }

    article{
      margin: 0 auto;
    }
  }

}


article{
  margin: 1rem 0;
  border:1px solid #5a5050; /*Sette en firkant rundt artiklene*/
  max-width: 400px;
  width: 100%;
  min-width: 250px;
  padding: 1rem; /*padding er innvendig luft. Margin er utvendig??*/

  img{
    width: 100%;    /*Skalerer bildet til kortets bredde. Vi skriver det som nesta CSS.. Jeg vil endre på bilet som ligger inni article*/
  }
}


/*Vi endrer på klassen .btn. Dette er "legg i handlevogn"-knappen.*/
.btn {
  display: inline-block;        /*Tillater padding/bredde, men flyter i tekst??*/
  background-color: #000;
  color: #fff;
  padding: 1rem;                /*Stor klikkflate*/
  border: none;                 /* HVA: Fjerner standardkant for renere uttrykk */
}

.side-container{
  background-color: var(--basic-gray);
  padding: 1rem;

  form{
    input{
      display: block;
      padding: 1rem;
      margin: 0.4rem 0; /*Får 0 på sidene, men ikke over og under*/
    }
  }

}

.age-check{
  display: flex;
  align-items: center;
  gap: 1rem;

}

footer{
  background-color: #0a1b28;
  color: #fff;
  padding: 1rem;
  min-height: 150px;
}